<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.makemytrip.selenium_cabsTests.MakeMyTripNavigationTest"/>
      <class name="com.makemytrip.selenium_cabsTests.OutstationOneWay_Validations"/>
      <class name="com.makemytrip.selenium_cabsTests.OutstationRoadTrip_Validation"/>
      <class name="com.makemytrip.selenium_cabsTests.BaseTest"/>
      <class name="com.makemytrip.selenium_cabsTests.TestClass"/>
      <class name="com.dataDrivenTesting.DataProviders"/>
      <class name="com.makemytrip.selenium_cabsTests.RideTypeRadioButtonValidation"/>
      <class name="com.utils.ExcelUtil"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
