<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t] %-5level %c{1}.%M - %msg%n" />
        </Console>

        <!-- File Appender with Daily Rolling -->
        <RollingFile name="FileLogger"
                     fileName="logs/log_current.log"
                     filePattern="logs/log_%d{yyyy-MM-dd_HH-mm}.log">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %c{1}.%M - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Roll over every day -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        

    </Appenders>

    <Loggers>

        <!-- Application Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>
</Configuration>
